* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.one {
    background: rgb(75, 95, 230);
}
.two {
    background: rgb(211, 79, 79);
}
.three {
    background: rgb(15, 94, 48);
}
.four {
    background: rgb(14, 63, 199);
}
.five {
    background: red;ß
}
